
.work-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
   

}
nav li a{
    text-decoration: none;
    font-size: 20pxs;
   
}
span{
    color:#FD6E0A;
}
.dark2{
    color:#474747;
}
.dark3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 20;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
/* header */
.secondary-bg{
    background-color: #FFF8F3;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* banner style */
    .banner{
        display: flex;
        justify-content: space-between;
        margin: 0 35px 0 230px;
    }
    .banner-content{
        max-width: 580px;
    }
    .banner-gretting{
        font-weight: 600;
        font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-image{
    width: 580px;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color:#181818;
}
.section-description{
    font-size: 18px;
    color:#757575;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.item-description{
    font-weight: bold;
    font-size: 20px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* skills-style */
.more-skills{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: bold;
    font-size: 20px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-title{
    font-size: 30px;
    font-weight: bold;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
}
.ex-sub-title{
    font-weight: 500;
    font-size: 20px;
}
.experience-description{
    font-size: 16px;
}
.section-title{
    text-align: center;
    
}
.btn{
    text-align: center;
}
.personal-doc{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.persona-doc-colum{
    width: 50%;
}
footer input[type="text"],footer input[type=email],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    /* border: none; */
}
